

.recommended-friends{
    margin: 25px 0px;
    padding: 25px 0px;
    border-top:var(--main-border);
}
.recommended-friends__title{
    font-size:15px;
    color: rgba(0,0,0,0.5);

}

.recommended-friends__content{
    color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    border-bottom:var(--main-border);
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
margin: 20px 0px;
}

.open-post{
    display:flex;
    justify-content: space-between;
}

.open-post__title{
    
    margin-bottom: 5px;
    font-weight: 600;
}


.open-post__hashtags{
text-transform:uppercase;
opacity: 0.6;
}

.open-post__members{
    display: flex;
    align-items: center;
    margin-top: 5px;

}
.open-post__members img{


    height:15px;
    weight: 15px;
border-radius: 14px;
margin-right: 5px;}

.open-post__membercount{
    opacity: 0.5px;
    font-size:15px;
color:gray;}

.open-post__members .divider{
 width: 1px;
 height: 15px;
 background-color: rgba(0,0,0,0.2);
 margin: 0 5px;
}

.open-post__member_status{
    color: pink;
}

.open-post_photo{
 height: 90px;
 width: 90px;
 border-radius: 15px;
}
.open-post-photo
{position:relative;}

.open-post__heartnumber{
    display:flex;
    position: absolute;
    color: white;
    border-radius: 15px;
    font-size: 14px;
    bottom: 10px;
    left: 30px;
    padding: 0px 10px;    
}
.open-post__heartnumber span{
    margin-left: 1px;
}

@keyframes heartBeat{
    0%{
        color: white;
    transform: none;}
    50%{
        color: tomato;
        transform: scale(1.2);}
    100%{
        color: white;
        transform: none;}
}


.open-post__heartnumber:hover i{
    will-change: transform;
animation: heartBeat 1s linear infinite;}
