.friends-display-link
{
    background-color: #FFFFFF;
    text-align: center;
    display: block;
    padding: 15px;
    color: #3A3A3A;
    margin-bottom: 10px;
    margin-top: -15px;
}

.friends-display-link i
{
margin: 0px 5px;
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
    border-top: 1px solid #E6E6E6;
    margin-top: 25px;
    padding-top: 20px;
    margin-bottom: 30px;
    
}
.friends-screen__channel-header{
    margin-bottom: 30px;
    display: flex;
justify-content: space-between;
color: rgba(0,0,0,0.5);}


