.friends-display-link
{
    background-color: #FFFFFF;
    text-align: center;
    display: block;
    padding: 15px;
    color: #3A3A3A;
    margin-bottom: 10px;
    margin-top: -15px;
}

.friends-display-link i
{
margin: 0px 5px;
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
    border-top: var(--main-border);
    margin-top: 25px;
    padding-top: 20px;
    margin-bottom: 30px;
    
}
.friends-screen__channel-header{
    margin-bottom: 30px;
justify-content: space-between;
color: rgba(0,0,0,0.5);}

@keyframes hideSplashScreen{
from{
    opacity:1;
}
to{
    opacity:0;
visibility: hidden;}

}

#splash-screen{
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;
    /* 100% of the screen height */
    width: 100vh;
    /* 100% of the screen width */
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 2s;
}
