.badge{
    background-color: tomato;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    left: 20px;
    
       }
    .screen-header__icons{
        position: relative;
    }
   .screen-header__icon__notification{
position: absolute;
background-color: tomato;
width: 5px;
height: 5px;
border-radius: 15px;   }

